# dependencies
node_modules/
jspm_packages/

# build
dist/
build/Release
*.tsbuildinfo

# test
coverage/
*.lcov
.nyc_output/
reports/
*.out
*.diff

# env
.env
.env.local
.env.test

# logs
*.log

# cache
.cache
.parcel-cache
.npm
.eslintcache
.grunt

# runtime
pids
*.pid
*.seed
*.pid.lock

# package
*.tgz
.yarn-integrity
.lock-wscript

# framework (not all used, safe to ignore)
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
typings/
bower_components

# temporary
tmp/
temp/

# ide
.vscode/
.idea/
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db
.env.*
